<h2 mat-dialog-title>
Payment summary
</h2>
<mat-dialog-content>
  Do you wish to proceed this payment?
  <table>
    <tr>
      <th>Merchant ID</th>
      <td>211379</td> 
    </tr>
    <tr>
      <th>Return URL</th>
      <td>http://sample.com/return</td>
    </tr>
    <tr>
      <th>
        Cancel URL
      </th>
      <td>
        http://sample.com/cancel
      </td>
    </tr>
    <tr>
      <th>
        Notify URL
      </th>
      <td>
        http://sample.com/cancel
      </td>
    </tr>
    <tr>
      <th>
        Order ID
      </th>
      <td>
        ItemNo12345
      </td>
    </tr>
    <tr>
      <th>
        Items
      </th>
      <td>
        {{item_name}}
      </td>
    </tr>
    <tr>
      <th>
        Total
      </th>
      <td>
        
      </td>
    </tr>
    <tr>
      <th>
        Currency
      </th>
      <td>
        LKR
      </td>
    </tr>
    <tr>
      <th>
        First name
      </th>
      <td>
        {{firstnamefromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Last name
      </th>
      <td>
        {{lastnamefromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Email
      </th>
      <td>
        {{emailfromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Phone
      </th>
      <td>
        {{phonefromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Address
      </th>
      <td>
        {{addressfromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        City
      </th>
      <td>
        {{cityfromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Country
      </th>
      <td>
        {{countryfromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Delivery address
      </th>
      <td>
        {{addressfromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Delivery city
      </th>
      <td>
        {{cityfromlocalstorage}}
      </td>
    </tr>
    <tr>
      <th>
        Delivery country
      </th>
      <td>
        {{countryfromlocalstorage}}
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Confirm
  </button>
  <button mat-button mat-dialog-close>
    Cancel
  </button>
</mat-dialog-actions>


