
<b><div id="h3"><h3>Booking confirmation</h3></div></b> <br><br>
  
 <b> You have selected the following vehicle: <br><br></b>
    <!-- Item code   : </b> {{item_id}} <br> <br> -->

    <b>Vehicle ID  : </b>{{Vehicle_id}}  <br> <br>

    <b>Vehicle name :</b> {{item_name}} <br><br>

    <b>Vehicle type :</b> {{vehicle_type}} <br><br>

    <b>Vehicle image :</b> <img class="" src="{{item_image}}" alt="{{item_name}}" width="50%"><br> <br>

    <b>Transmission type :</b> {{transmission_type}} <br><br>

    <b>Fuel type :</b> {{fuel_type}} <br><br>

    <b>No.of seats :</b> {{seats}} <br><br>

    <b>Price per day :</b> LKR {{price_per_Day|number:'.2'}}<br><br>

    <b>Starting Date : </b> {{Starting_Date_from_param}}<br><br>

    <b>Ending Date : </b>{{Ending_Date_from_param}}<br><br>

    <b>No.of days : </b> {{noofdays}}<br><br><br>

    <b>Total amount payable :</b> LKR {{total|number:'.2'}} <br><br>



    <b>Make your payment through </b> <img class="" src="./assets/payhere.png" alt="Pay here" width="20%">
    





